@font-face {
    font-family: 'Arial Bold';
    src: url('../Fonts/Arial-BoldMT.eot');
    src: url('../Fonts/Arial-BoldMT.eot?#iefix') format('embedded-opentype'),
    url('../Fonts/Arial-BoldMT.woff') format('woff'),
    url('../Fonts/Arial-BoldMT.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }

@font-face {
  font-family: 'Roboto Condensed Regular';
  src: url('../Fonts/RobotoCondensed-Regular.eot');
  src: url('../Fonts/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
  url('../Fonts/RobotoCondensed-Regular.woff') format('woff'),
  url('../Fonts/RobotoCondensed-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  }
    