@font-face {
    font-family: 'Arial Bold';
    src: url('../Fonts/Arial-BoldMT.eot');
    src: url('../Fonts/Arial-BoldMT.eot?#iefix') format('embedded-opentype'),
    url('../Fonts/Arial-BoldMT.woff') format('woff'),
    url('../Fonts/Arial-BoldMT.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: 'Roboto Medium';
    src: url('../Fonts/Roboto-Medium.eot');
    src: url('../Fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
    url('../Fonts/Roboto-Medium.woff') format('woff'),
    url('../Fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }