html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, hr {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.input, .textarea {
  outline: none;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}
@media screen and (max-width: 1400px) {
  .container {
    padding: 0 32px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    padding: 0 32px;
  }
}

.header {
  background-color: rgb(236, 236, 234);
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  height: 140px;
}
@media screen and (max-width: 952px) {
  .header__wrapper {
    height: 80px;
  }
}
.header .logo {
  max-width: 181.818px;
  max-height: 100px;
  margin: 30px 0 10px 0;
}
@media screen and (max-width: 952px) {
  .header .logo {
    max-width: 117px;
    max-height: 64px;
    padding: 16px 0 0 0;
    margin: 0;
  }
}
.header .navigation {
  padding: 58px 0 37px 0;
}
@media screen and (max-width: 952px) {
  .header .navigation {
    display: none;
  }
}
.header .navigation__item-link {
  padding: 11px 32px;
  font-size: 20px;
  color: #292929;
  font-family: Roboto Condensed Regular;
  font-weight: 500;
  letter-spacing: 2px;
  transition: all 0.7s;
}
.header .navigation__item-link:hover {
  color: #ff8340;
}
.header .navigation-list {
  display: flex;
  margin: 0 auto;
}
.header .burger {
  display: none;
  padding-top: 16px;
  max-width: 48px;
  max-height: 48px;
}
@media screen and (max-width: 952px) {
  .header .burger {
    display: block;
  }
}

.main {
  height: calc(100vh - 140px);
  background-color: rgb(236, 236, 234);
}
@media screen and (max-width: 952px) {
  .main {
    height: calc(100vh - 80px);
  }
}
.main__wrapper {
  position: relative;
  height: 100%;
}
.main__man {
  position: absolute;
  max-width: 990px;
  left: -220px;
  bottom: 0;
  z-index: 2;
}
@media screen and (max-width: 1440px) {
  .main__man {
    max-width: 850px;
    left: -150px;
  }
}
@media screen and (max-width: 1148px) {
  .main__man {
    max-width: 624px;
    left: -68px;
  }
}
.main__title {
  position: absolute;
  top: 90px;
  left: 220px;
  font-size: clamp(100px, 10vw, 160px);
  color: #cfcfcd;
  font-family: Arial Bold;
  font-weight: 900;
  letter-spacing: 8px;
}
@media screen and (max-width: 1440px) {
  .main__title {
    font-size: 120px;
    letter-spacing: 5px;
    left: 150px;
    top: 96px;
  }
}
@media screen and (max-width: 1148px) {
  .main__title {
    left: 95px;
    font-size: 100px;
  }
}
.main__text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: Roboto Condensed Regular;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  gap: 14px;
  position: absolute;
  bottom: 225px;
  right: 20px;
}
@media screen and (max-width: 1440px) {
  .main__text {
    gap: 0;
    bottom: 100px;
  }
}
@media screen and (max-width: 952px) {
  .main__text {
    gap: 0;
    bottom: 10px;
  }
}
.main__text-description {
  color: #000;
  max-width: 590px;
  z-index: 3;
}
@media screen and (max-width: 1440px) {
  .main__text-description {
    max-width: 470px;
  }
}
@media screen and (max-width: 952px) {
  .main__text-description {
    max-width: 363px;
  }
}
.main__text-next {
  color: #292929;
  padding: 11px 32px;
  transition: all 0.7s;
}
.main__text-next:hover {
  color: #ff8340;
}

.body {
  max-width: 100%;
}
.body__wrapper {
  position: relative;
  height: 1080px;
}
@media screen and (max-width: 952px) {
  .body__wrapper {
    height: 817px;
  }
}
.body__title {
  position: absolute;
  color: #292929;
  font-family: Arial Bold;
  font-size: 80px;
  font-weight: 900;
  line-height: 90px;
  top: 250px;
  max-width: 1324px;
  z-index: 3;
}
@media screen and (max-width: 1400px) {
  .body__title {
    top: 220px;
    font-size: 60px;
    line-height: 70px;
  }
}
@media screen and (max-width: 952px) {
  .body__title {
    top: 90px;
  }
}
.body__text {
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: absolute;
  font-family: Roboto Condensed Regular;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  width: 562px;
  bottom: 231px;
  left: 206px;
  border: 6px solid #ff8340;
  z-index: 2;
}
@media screen and (max-width: 952px) {
  .body__text {
    left: 115px;
    bottom: 143px;
    width: 504px;
  }
}
.body__text-description {
  padding-top: 335px;
  color: #000;
  display: inline-block;
  margin: 0 auto;
  width: 500px;
  margin-bottom: 14px;
  line-height: normal;
}
@media screen and (max-width: 952px) {
  .body__text-description {
    padding-top: 276px;
    width: 439px;
    margin-bottom: 36px;
  }
}
.body__text-next {
  color: #292929;
  padding: 11px 32px;
  max-width: 240px;
  transition: all 0.7s;
  margin-bottom: 46px;
}
.body__text-next:hover {
  color: #ff8340;
}
@media screen and (max-width: 952px) {
  .body__text-next {
    margin-bottom: 14px;
  }
}
.body__woman {
  max-width: 953px;
  max-height: 596px;
  position: absolute;
  bottom: 0;
  right: -155px;
  z-index: 1;
}
@media screen and (max-width: 1440px) {
  .body__woman {
    max-width: 800px;
    right: -60px;
  }
}
@media screen and (max-width: 1148px) {
  .body__woman {
    max-width: 598px;
    right: -20px;
  }
}

.direction {
  background-color: #292929;
  max-width: 100%;
}
.direction__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 34px;
  padding: 124px 0 81px 0;
}
@media screen and (max-width: 952px) {
  .direction__wrapper {
    padding: 53px 32px;
  }
}
.direction__wrapper-title {
  color: #fff;
  font-family: Arial Bold;
  font-size: 80px;
  font-weight: 900;
  letter-spacing: 4px;
}
@media screen and (max-width: 952px) {
  .direction__wrapper-title {
    font-size: 60px;
    letter-spacing: 3px;
  }
}
.direction__wrapper-text {
  color: #fff;
  font-family: Roboto Condensed Regular;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
}

.feedback {
  padding: 40px 0 165px 0;
  background-color: #ff8340;
}
@media screen and (max-width: 952px) {
  .feedback {
    padding: 32px 0 21px 0;
  }
}
.feedback__title {
  color: #292929;
  font-family: Arial Bold;
  font-size: clamp(32px, 3vw, 45px);
  font-weight: 900;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 35px;
}
@media screen and (max-width: 952px) {
  .feedback__title {
    letter-spacing: 1.6px;
    margin-bottom: 38px;
  }
}
.feedback__line {
  width: 64px;
  height: 6px;
  background: #292929;
  margin: 0 auto;
  margin-bottom: 50px;
}
@media screen and (max-width: 952px) {
  .feedback__line {
    margin-bottom: 48px;
  }
}
.feedback__description {
  color: #000;
  font-family: Roboto Condensed Regular;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 40px;
}
@media screen and (max-width: 952px) {
  .feedback__description {
    margin-bottom: 30px;
  }
}
.feedback__form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px 0;
}
@media screen and (max-width: 952px) {
  .feedback__form {
    gap: 20px 0;
  }
}
.feedback__form-select, .feedback__form-field {
  width: 49%;
  height: 50px;
  padding-left: 34px;
  font-size: 20px;
  letter-spacing: 2px;
  font-family: Roboto Condensed Regular;
  font-weight: 500;
}
.feedback__form-select {
  background: #292929;
  color: #fff;
}
.feedback__form-field::plaseholder {
  color: #b0b0b0;
  font-family: Roboto Condensed Regular;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
}
.feedback__form-massage {
  width: 100%;
  height: 198px;
  font-size: 20px;
  resize: none;
  padding: 18px 0 0 34px;
}
.feedback__form-massage::plaseholder {
  color: #b0b0b0;
  font-family: Roboto Condensed Regular;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
}
.feedback__form-submit {
  margin-left: auto;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 11px 0;
  color: #292929;
  font-family: Roboto Condensed Regular;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  transition: 0.5s;
}
.feedback__form-submit:hover {
  border-color: #fff;
}

.container__system {
  max-width: 1920px;
  margin: 0 auto;
}

.system {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 3fr;
  grid-template-areas: "descr descr descr img" "nutrition mode programm img";
}
@media screen and (max-width: 1440px) {
  .system {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "descr img" "nutrition mode" "programm programm";
  }
}
.system__description {
  align-self: end;
  justify-self: end;
  padding: 0 76px 40px 0;
  grid-area: descr;
}
@media screen and (max-width: 1440px) {
  .system__description {
    padding: 40px 32px 32px 0;
  }
}
.system__description-text {
  max-width: 624px;
  color: #292929;
}
@media screen and (max-width: 1440px) {
  .system__description-text {
    max-width: 412px;
  }
}
.system__description-title {
  font-family: Arial;
  font-size: clamp(60px, 5vw, 80px);
  font-weight: 900;
  line-height: 160px;
  letter-spacing: 4px;
  padding-bottom: 34px;
}
@media screen and (max-width: 1440px) {
  .system__description-title {
    line-height: 79.25px; /* 132.083% */
    letter-spacing: 3px;
    padding-bottom: 38px;
  }
}
.system__description-content {
  font-family: Roboto Condensed Regular;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
}
.system__preview {
  grid-area: img;
  width: 100%;
  height: 100%;
}
.system__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
@media screen and (max-width: 1440px) {
  .system__item {
    padding: 40px 30px 0 30px;
  }
}
.system__item-icon {
  margin-bottom: 70px;
}
.system__item-title {
  color: #292929;
  text-align: center;
  font-family: Arial Bold;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 1px;
  margin-bottom: 52px;
}
.system__item-description {
  max-width: 252px;
  text-align: center;
  font-family: Roboto Condensed Regular;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 18px;
}
@media screen and (max-width: 1440px) {
  .system__item-description {
    margin-bottom: 58px;
    max-width: none;
  }
}
.system__item_nutrition {
  grid-area: nutrition;
}
.system__item_mode {
  grid-area: mode;
}
.system__item_programm {
  grid-area: programm;
}

.trainers {
  padding: 140px 0 15px 0;
}
@media screen and (max-width: 992px) {
  .trainers {
    padding: 0 0 15px 0;
  }
}
.trainers__title {
  display: block;
  color: #292929;
  font-family: Arial Bold;
  font-size: 80px;
  font-weight: 900;
  margin-bottom: 124px;
}
@media screen and (max-width: 992px) {
  .trainers__title {
    display: none;
  }
}

@media screen and (max-width: 952px) {
  .swiper .swiper-slide {
    filter: grayscale(1);
  }
}
.swiper .swiper-slide__preview {
  width: 100%;
  height: 750px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  margin-bottom: 15px;
}
@media screen and (max-width: 992px) {
  .swiper .swiper-slide__preview {
    max-height: 626px;
  }
}
@media screen and (max-width: 992px) {
  .swiper .swiper-slide-next {
    filter: grayscale(0);
  }
}
.swiper .swiper-slide__title {
  color: #292929;
  font-family: Arial Bold;
  font-size: 45px;
  font-weight: 900;
  line-height: 50px;
  margin: 0 0 10px 30px;
}
@media screen and (max-width: 952px) {
  .swiper .swiper-slide__title {
    font-size: 37px;
    line-height: 42px;
  }
}
.swiper .swiper-slide__subtitle {
  color: #292929;
  font-family: Roboto Condensed Regular;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-left: 30px;
}
.swiper-button-prev, .swiper-button-next {
  display: none;
  height: 100%;
  top: 0;
}
@media screen and (min-width: 1200px) {
  .swiper-button-prev, .swiper-button-next {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .swiper-button-prev {
    width: 210px;
    left: 0;
    background: linear-gradient(90deg, #FFF 0%, rgba(41, 41, 41, 0) 60%);
  }
}
@media screen and (min-width: 1200px) {
  .swiper-button-prev:after {
    position: absolute;
    left: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .swiper-button-next {
    width: 210px;
    right: 0;
    background: linear-gradient(-90deg, #FFF 0%, rgba(41, 41, 41, 0) 60%);
  }
}
@media screen and (min-width: 1200px) {
  .swiper-button-next:after {
    position: absolute;
    right: 34px;
  }
}

.subscription {
  padding: 140px 0 0 0;
}
@media screen and (max-width: 992px) {
  .subscription {
    padding: 53px 0 32px 0;
  }
}
.subscription__title {
  color: #292929;
  font-family: Arial Bold;
  font-size: clamp(60px, 3vw, 80px);
  font-weight: 900;
  margin-bottom: 53px;
}
.subscription__option {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  margin: 0 auto;
}
@media screen and (max-width: 992px) {
  .subscription__option {
    flex-direction: column;
    max-width: 100%;
    gap: 0;
    justify-content: none;
  }
}
.subscription__option-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 6px solid #292929;
  padding: 69px 38px 32px 38px;
  margin: 28px 0 34px 0;
}
@media screen and (max-width: 992px) {
  .subscription__option-description {
    margin: 0;
    padding: 60px 50px;
    display: grid;
    grid-template-columns: 1fr 2.5fr 2fr;
    flex-direction: none;
    grid-template-areas: "namber text money" "month text pay";
  }
}
.subscription__option-description_namber {
  text-align: center;
  line-height: 65px;
  font-family: Arial Bold;
  font-size: 40px;
  font-weight: 700;
  width: 76px;
  height: 76px;
  border: 4px solid #292929;
  border-radius: 50px;
  margin-bottom: 24px;
  grid-area: namber;
}
@media screen and (max-width: 992px) {
  .subscription__option-description_namber {
    margin: 24px;
  }
}
.subscription__option-description_month {
  color: #292929;
  font-family: Arial Bold;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 1px;
  margin-bottom: 74px;
  align-items: center;
  grid-area: month;
}
@media screen and (max-width: 992px) {
  .subscription__option-description_month {
    margin: 0 0 0 10px;
  }
}
.subscription__option-description_text {
  text-align: center;
  font-family: Roboto Condensed Regular;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 36px;
  grid-area: text;
}
@media screen and (max-width: 992px) {
  .subscription__option-description_text {
    margin: 10px 20px;
    align-self: end;
  }
}
.subscription__option-description_money {
  color: #292929;
  font-family: Arial Bold;
  font-size: 45px;
  font-weight: 900;
  letter-spacing: 2.25px;
  margin-bottom: 16px;
  grid-area: money;
}
@media screen and (max-width: 992px) {
  .subscription__option-description_money {
    margin-bottom: 35px;
    align-self: end;
    justify-self: start;
  }
}
.subscription__option-description_pay {
  color: #292929;
  font-family: Roboto Condensed Regular;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  background: none;
  border: none;
  grid-area: pay;
}
@media screen and (max-width: 992px) {
  .subscription__option-description_pay {
    justify-self: start;
    margin-left: 40px;
  }
}
.subscription__option-description6 {
  margin: 0px 0;
  padding: 69px 58px 94px 58px;
  border: 6px solid #FF8340;
}
@media screen and (max-width: 992px) {
  .subscription__option-description6 {
    border: 6px solid #292929;
  }
}
.subscription__option-description6_namber6 {
  border: 4px solid #FF8340;
  color: #FF8340;
}
@media screen and (max-width: 992px) {
  .subscription__option-description6_namber6 {
    border: 4px solid #292929;
    color: #292929;
  }
}

.map {
  padding: 115px 0 0 0;
}
.map__title {
  color: #292929;
  font-family: Arial Bold;
  font-size: clamp(60px, 3vw, 80px);
  font-weight: 900;
  margin-bottom: 30px;
}
.map__activ {
  width: 100%;
  height: 900px;
}

.footer {
  padding: 46px 0 23px 0;
}
.footer__navigation {
  padding: 0 0 44px 0;
}
.footer__navigation-list {
  display: flex;
  justify-content: space-around;
}
.footer__navigation .navigation__item-link {
  font-size: 20px;
  color: #292929;
  font-family: Roboto Condensed Regular;
  font-weight: 500;
  letter-spacing: 2px;
  transition: all 0.7s;
}
.footer__navigation .navigation__item-link:hover {
  color: #ff8340;
}
.footer__inform {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #292929;
  font-family: Roboto Condensed Regular;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
}
.footer__inform-1 {
  padding: 11px 0;
}/*# sourceMappingURL=style.css.map */