.body {
	max-width: 100%;

	&__wrapper {
		position: relative;
		height: 1080px;

		@media screen and (max-width: 952px) {
			height:817px;
		}
	}

	&__title {
		position: absolute;
		color: #292929;
		font-family: Arial Bold;
		font-size: 80px;
		font-weight: 900;
		line-height: 90px;
		top: 250px;
		max-width: 1324px;
		z-index: 3;

		@media screen and (max-width: 1400px) {
			top: 220px;
			font-size: 60px;
			line-height: 70px;
		}

			@media screen and (max-width: 952px){
			top: 90px;
		}
	}

	&__text {
		display: flex;
		flex-direction: column;
		justify-content: end;
		position: absolute;
		font-family: Roboto Condensed Regular;
		font-size: 20px;
		font-weight: 500;
		letter-spacing: 2px;
		width: 562px;
		bottom: 231px;
		left: 206px;
		border: 6px solid #ff8340;
		z-index: 2;

		@media screen and (max-width: 952px) {
			left: 115px;
			bottom: 143px;
			width: 504px;
		}
	}

	&__text-description {
		padding-top: 335px;
		color: #000;
		display: inline-block;
		margin: 0 auto;
		width: 500px;
		margin-bottom: 14px;
		line-height: normal;

		@media screen and (max-width: 952px) {
			padding-top: 276px;
			width: 439px;
			margin-bottom: 36px;
		}
	}

	&__text-next {
		color: #292929;
		padding: 11px 32px;
		max-width: 240px;
		transition: all 0.7s;
		margin-bottom: 46px;

		&:hover {
			color: #ff8340;
		}

		@media screen and (max-width: 952px) {
			margin-bottom: 14px;
		}
	}

	&__woman {
		max-width: 953px;
		max-height: 596px;
		position: absolute;
		bottom: 0;
		right: -155px;
		z-index: 1;

		@media screen and (max-width: 1440px) {
			max-width: 800px;
			right: -60px;
		}

		@media screen and (max-width: 1148px) {
			max-width: 598px;
			right: -20px;
		}
	}
}
