.subscription {
	padding: 140px 0 0 0;

	@media screen and (max-width: 992px){
		padding: 53px 0 32px 0;
	}

	&__title {
		color: #292929;
		font-family: Arial Bold;
		font-size: clamp(60px, 3vw, 80px);
		font-weight: 900;
		margin-bottom: 53px;
	}

	&__option {
		display: flex;
		justify-content: space-around;
		gap: 30px;
		margin: 0 auto;

		@media screen and (max-width: 992px){
			flex-direction: column;
			max-width: 100%;
			gap: 0;
			justify-content: none;
		}

		&-description {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			border: 6px solid #292929;
			padding: 69px 38px 32px 38px;
			margin:28px 0 34px 0;

			@media screen and (max-width: 992px){
				margin: 0;
				padding: 60px 50px;
				display: grid;
				grid-template-columns: 1fr 2.5fr 2fr;
				flex-direction: none;
				grid-template-areas: 'namber text money'
															'month text pay';
			}

			&_namber {
				text-align: center;
				line-height: 65px;
				font-family: Arial Bold;
				font-size: 40px;
				font-weight: 700;
				width: 76px;
				height: 76px;
				border: 4px solid #292929;
				border-radius: 50px;
				margin-bottom: 24px;
				grid-area: namber;

				@media screen and (max-width: 992px){
					margin: 24px;

				}
			}

			&_month {
				color: #292929;
				font-family: Arial Bold;
				font-size: 20px;
				font-weight: 900;
				letter-spacing: 1px;
				margin-bottom: 74px;
				align-items: center;
				grid-area: month;

				@media screen and (max-width: 992px){
					margin: 0 0 0 10px;
				}
			}

			&_text {
			text-align: center;
			font-family: Roboto Condensed Regular;
			font-size: 20px;
			font-weight: 500;
			letter-spacing: 2px;
			margin-bottom: 36px;
			grid-area: text;

			@media screen and (max-width: 992px){
					margin: 10px 20px;
					align-self: end;
				}
			}

			&_money {
			color: #292929;
			font-family: Arial Bold;
			font-size: 45px;
			font-weight: 900;
			letter-spacing: 2.25px;
			margin-bottom: 16px;
			grid-area: money;

			@media screen and (max-width: 992px){
					margin-bottom: 35px;
					align-self: end;
					justify-self: start;

				}
			}

			&_pay {
				color: #292929;
				font-family: Roboto Condensed Regular;
				font-size: 20px;
				font-weight: 500;
				letter-spacing: 2px;
				background: none;
				border: none;
				grid-area: pay;

				@media screen and (max-width: 992px){
					justify-self: start;
					margin-left: 40px;
				}
			}
		}

		&-description6 {
			margin:0px 0;
			padding: 69px 58px 94px 58px;
			border: 6px solid #FF8340;
			
			@media screen and (max-width: 992px){
				border: 6px solid #292929;
			}

			&_namber6{
				border: 4px solid #FF8340;
				color: #FF8340;

				@media screen and (max-width: 992px){
				border: 4px solid #292929;
				color: #292929;
				}
			}
		}
	}
}
